@page
@model ApprAttempt.Pages.AboutModel
@{
}
<section class="course">
    <h1> About us</h1>
    <p>
        Helping  Hands Foundation has been part of the community since early 2000's. It has helped shape community and offer bursaries, food parcels as well as well as assisting  in times of need.

        We offer all types of counseling to our communities be it HIV and AIDS, GBV and adolescents talks to the youth. These counseling sessions are free. We educate  communities about health and tye importance of food security .

        We work hand in hand with multiple organizations to make the community  a better place.

        As partners, the different members of the Movement support communities in becoming stronger and safer through a variety of development projects and humanitarian activities. The Movement also works in cooperation with governments, donors and other aid organizations to assist vulnerable people around the world.
    </p>

    
</section>
