@page
@model ApprAttempt.Pages.Contact_usModel
@{
}

<section class="header">
    
    <div class="text-box">
        <h1> How to get intouch with us</h1>
        <p>
            you can talk to us through the following means <br /> Telephone: 0800123456 
            <br /> email: inquiries@HHF.com 
            <br />facbook & instragram: helping hands foundation
        </p>
        
    </div>
</section>