@page
@model ApprAttempt.Pages.testModel
@{
}


<div class="wrapper">



    <div class="center">
        <h1> Welcome To Our Disaster relief website</h1>
        <h2>Donate to save a life</h2>
        <div class="buttons">
            <button> Explore More</button>
            <button class="btn"> Donate</button>
        </div>


    </div>
    <?php
    echo "My first PHP script!";
    ?>

</div>